/****************
Odie's About Page
*****************/
h1 {
	text-align: center;
	background-color: red;
	font-family: 'PT Serif', serif;
}

body {
	background-color: skyblue;
	font-family: 'Anton', sans-serif;

}

img {
	background-image: 100%;
}

footer{
	text-align: center;
}

/****************
Odie's About Page
*****************/