
/********
NAVBAR
********/

.navbar {
    height: 100px;
    width: 100%;
    /*max-width: 100%;*/
    background-color: red;
    border: 1px solid red;
    border-radius: 10px 10px 0px 0px;
    text-align: left;
    display: inline-flex;
}

.navbar ul {

    list-style-type: none;
    display: inline;
}

.navbar li {
    display: inline-block;
    margin-top: 1.25em;
    margin-right: 2em;
    font-family: 'Special Elite', cursive;   
    font-size: 2em;
}

.navbar li a:link {
    text-decoration: none;
    overflow: none;
    color: #fffff0;
}

.navbar li a:visited{
    color: #000000;
}
.navbar li a:hover {
    color: darkblue;
}

.navbar img {
    /*display: flex-inline;*/
    width: 150px;
    height: 100%;
    margin-left: 20%;
    margin-right: auto;
}
/**********Products Page Styling**********/

.productsAlign {
    margin: 0;
    padding: 0;
    text-align: center;
}

#pics {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics img {
    max-width: 100%;
}

#pics2 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics2 img {
	max-width: 100%;
}

#pics3 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	height: auto;
	box-shadow: 5px 5px 5px #888888;
}

#pics3 img {
    max-width: 100%;
}

#pics4 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics4 img {
    max-width: 100%;
}

#pics5 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics5 img {
    max-width: 100%;
}

#pics6 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics6 img {
    max-width: 100%;
}

#pics7 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics7 img {
    max-width: 100%;
}

#pics8 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics8 img {
    max-width: 100%;
}

#pics9 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics9 img {
    max-width: 100%;
}

#pics10 {
	margin: 10px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 200px;
	box-shadow: 5px 5px 5px #888888;
}

#pics10 img {
    max-width: 100%;
}

/****************
Odie's About Page
*****************/
h1 {
	text-align: center;
	background-color: red;
	font-family: 'PT Serif', serif;
}

body {
	background-color: skyblue;
	font-family: 'Anton', sans-serif;

}

img {
	background-image: 100%;
}

footer{
	text-align: center;
}

/****************
Odie's About Page
*****************/

